@import 'normalize';
@import 'stars';

* {
  box-sizing: border-box;
}

html{
  margin: 0;

  font-size: 17px;
}

.page-wrapper {
  position: relative;
  width: 1440px;
  margin: auto;
  height: 100vh;

}

.nav {
  position: fixed;
  width: 200px;
  top: 50%;
  left: calc((100% - 1440px) / 2);
  transform: translate(0%, -50%);
  font-size: 1rem;
}

.menu-item {
  padding-left: 40px;
  min-height: 40px;
  width: 100%;
  border: solid 1px red;
  line-height: 40px;
  white-space: nowrap;
  font-size: 1.2rem;
}

.sub-menu {
  @extend .menu-item;
  font-size: 1.1rem;
  padding-left: 20px;
}


.content {
  position: absolute;
  right: 0;
  width: 1240px;
  height: 100vh;
}

.section {
  min-height: 700px;
  width: 100%;
  background-color: silver;
  margin: 20px 0;
}

